@import './animations.css';
@import './holder.css';
@import './dropdown.css';
@import './list.css';
@import './selectedValues.css';

* {
    transition: all .4s ease;
}

.multi__select__container {
    position: relative;

}

.elmFocus {
    border: 1px solid rgb(144, 70, 255) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}